/* Estilo para el cuerpo del dashboard */
body {
    background-color: #f8f9fa;
}

/* Estilo para el panel lateral (sidebar) */
.sidebar {
    height: 100vh;
    background-color: #343a40;
    color: #fff;
    padding-top: 20px;
}

/* Estilo para los enlaces del panel lateral */
.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

/* Estilo para los enlaces activos del panel lateral */
.sidebar a.active {
    background-color: #212529;
}

/* Estilo para el contenido principal */
.main-content {
    margin-top: 20px;
    padding: 20px;
}

img {

    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.row main #form-container #btnAdd {
    float: left !important;
}

.form-inline {
    float: right !important;
}